{% extends 'ads/base.html' %}

{% block content %}
<h2>Предложения обмена</h2>

{% for proposal in proposals %}
    <hr>
    <p><strong>От:</strong> {{ proposal.ad_sender.title }} → <strong>К:</strong> {{ proposal.ad_receiver.title }}</p>
    <p>Комментарий: {{ proposal.comment }}</p>
    <p>Статус: {{ proposal.get_status_display }}</p>
    {% if proposal.ad_receiver.user == user %}
    {% if proposal.status == 'pending' %}
    <a href="{% url "ads:proposal_update" proposal.pk %}?status=accepted">Принять</a> |
    <a href="{% url "ads:proposal_update" proposal.pk %}?status=rejected">Отклонить</a>
    {% endif %}
    {% endif %}
{% empty %}
    <p>Нет предложений.</p>
{% endfor %}
{% endblock %}
